*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #cc1313;
    --secondary-color: #e25411;
    --light-color: #f3f3f3;
    --dark-color: #333333;
    --max-width: 1200px;
}

.category{
    --sports-color:#f38021;
    --tech-color: #5a2020;
    --entertain-color: #124269;
}

body{
    font-family: 'lato' sans-serif;
    background: var(--light-color);
    line-height: 1.5;
}

a{
    color: #333333;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5{
    font-family: 'Staatliches', cursive;
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

/* Ultility */
.container{
    max-width: var(--max-width);
    overflow: hidden;
    padding: 0 2rem;
    margin: auto;
}

.category{
    display: inline-block;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 15px;
    padding: .3rem .4rem;
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.sports-category{
    background: var(--sports-color);
}

.entertain-category{
    background: var(--entertain-color);
}

.tech-category{
    background: var(--tech-color);
}

.btn{
    display: inline-block;
    background: var(--dark-color);
    color: #ffffff;
    padding: .5rem 1rem;
    border: none;
    text-align: center;
}

.light-btn{background: var(--light-color);}
.primary-btn{background: var(--primary-color);}
.secondary-btn{background: var(--secondary-color);}

.btn:hover{
    opacity: .8;
}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.cards{
    background: #ffffff;
    padding: 1rem;
}

.bg-dark{
    background: var(--dark-color);
    color: #ffffff;
}
.bg-primary{
    background: var(--primary-color);
    color: #ffffff;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #ffffff;
}

.ptb1{padding: 1.5rem 0;}
.ptb2{padding: 2rem 0;}
.ptb3{padding: 3rem 0;}
.p1{padding: 1.5rem;}
.p2{padding: 2rem;}
.p3{padding: 3rem;}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a{
    color: #ffffff;
}

p{
    margin-bottom: 0.5rem 0;
}

.list li{
    border-bottom: dotted .75px #777777;
    padding: 0.5rem 0;
    width: 90%;
}

.list a:hover{
    color: var(--primary-color);
}
/* Navigation bar*/
#navbar{
    position: sticky;
    top: 0;
    z-index: 2;
    background: #ffffff;
}
#navbar .container{
    display:grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
    
}



#navbar .container .logo{
    width:180px;
}

#navbar .container .social{
    justify-self: center;
}

#navbar .container .social i{
    color: #333333;
    margin-right: 0.5rem;
}

#navbar .container ul{
    justify-self: end; 
    display: flex;
 }

#navbar .container ul li a{
    padding: 1rem;
    font-weight: bold;
}

#navbar .container .selected{
    background: var(--primary-color);
    color: #ffffff;
}

#navbar .container a:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

/* Showcase */
#showcase{
    color: #ffffff;
    background: #333333;
    position: relative;
    padding: 2rem;
}

#showcase:before{
    content: '';
    background: url('../img/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}

#showcase .showcase-content{
    z-index: 1;
}

#showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/*categories*/
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.horizontal-display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1/span 2;
    align-items: center;
}
.horizontal-display2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 2/span 2;
    align-items: center;
}

/*footer*/
.footer-contents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.footer-contents > *:last-child{
    grid-column: 1/span 4;
    text-align: center;
    background: #1d1616;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.footer-contents input[type='email']{
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-contents input[type='Submit']{
    width: 90%;
    padding: 0.5rem;
}
